<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h1>{{model?.nom}}</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="libelle" class="label">Telephone : {{model?.telephone}}</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="pourXAcheter" class="label">Email : {{model?.email}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="libelle" class="label">Type de contrat : RAS</label>
                        </div>
                    </div>

                </div>
                <div class="row" *ngIf="model.datasSecteurActivite; else pasSecteurDactivites">
                    <div class="col-md-12">
                        <label for="listeCarte" class="label">Liste des secteurs d'activités</label>
                        <div class="table-responsive-md">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">N°</th>
                                        <th scope="col">Libelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of model.datasSecteurActivite; index as i">
                                        <th>{{ i }}</th>
                                        <td>{{ data.libelle}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <ng-template #pasSecteurDactivites>
                    <div class="row">
                        <div class="col-md-12">
                            Aucun secteurs d'activités pour cet enseigne
                        </div>
                    </div>
                </ng-template>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <div class="h1">Les statistiques globales</div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Nombre de programme à point</div>
                    <div class="h3">{{ enseigne?.nbreProgrammeFideliteTampon != null ? enseigne.nbreProgrammeFideliteTampon : 0}}
                    </div>
                    <!-- <nb-progress-bar [value]="item.activeProgress"></nb-progress-bar> -->
                    <!-- <div class="caption description">
                        Description </div>-->
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Nombre de programme à tampon</div>
                    <div class="h3">{{ enseigne?.nbreProgrammeFideliteCarte != null ? enseigne.nbreProgrammeFideliteCarte : 0}}
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Nombre de point de vente</div>
                    <div class="h3">{{ enseigne?.nbrePointDeVente != null ? enseigne.nbrePointDeVente :0}}</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Nombre d'utilisateur</div>
                    <div class="h3">{{ enseigne?.nbreUtilisateurMobile != null ? enseigne.nbreUtilisateurMobile :0}}</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Chiffre d'affaire</div>
                    <div class="h3">{{ enseigne?.chiffreDaffaire != null ? enseigne.chiffreDaffaire : 0}}</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Nombre de transaction</div>
                    <div class="h3">{{ enseigne?.nbreTransaction != null ? enseigne.nbreTransaction : 0}}</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Recompense engagées PDF à points</div>
                    <div class="h3">{{ enseigne?.recompenseEngagerCarte != null ? enseigne.recompenseEngagerCarte : 0}}</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Recompense remboursées PDF à points</div>
                    <div class="h3">{{ enseigne?.recompenseRembouserCarte != null ? enseigne.recompenseRembouserCarte : 0}}</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Recompense en attentes PDF à points</div>
                    <div class="h3">{{ enseigne?.recompenseRembouserCarte != null && enseigne?.recompenseEngagerCarte != null ? enseigne?.recompenseEngagerCarte - enseigne?.recompenseRembouserCarte : enseigne?.recompenseEngagerCarte != null ? enseigne?.recompenseEngagerCarte
                        : 0}}
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Recompense engagées PDF à tampons</div>
                    <div class="h3">{{ enseigne?.recompenseEngagerTampon != null ? enseigne.recompenseEngagerTampon : 0}}</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Recompense remboursées PDF à tampons</div>
                    <div class="h3">{{ enseigne?.recompenseRembouserTampon != null ? enseigne.recompenseRembouserTampon : 0}}
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Recompense en attentes PDF à tampons</div>
                    <div class="h3">{{ enseigne?.recompenseRembouserTampon != null && enseigne?.recompenseEngagerTampon != null ? enseigne?.recompenseEngagerTampon - enseigne?.recompenseRembouserTampon : enseigne?.recompenseEngagerTampon != null ? enseigne?.recompenseEngagerTampon
                        :0}}
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-md-12">
        <div class="h2">Les statistiques détaillées</div>
    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <h3>Saisissez vos options de filtre</h3>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="pdfCarte" class="label">Programme à points</label>
                            <nb-select name="programmeCarte" [(ngModel)]="pdfCarte" fullWidth placeholder="Programme à points">
                                <nb-option *ngFor=" let data of datasPdfCarte" [value]="data">
                                    {{data.libelle}}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="pdfTampon" class="label">Programme à tampons</label>
                            <nb-select name="programmeTampon" [(ngModel)]="pdfTampon" fullWidth placeholder="Programme à tampons">
                                <nb-option *ngFor=" let data of datasPdfTampon" [value]="data">
                                    {{data.libelle}}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="pointDeVentes" class="label">Point de vente</label>
                            <nb-select name="pdv" [(ngModel)]="pointDeVente" fullWidth placeholder="Point de vente">
                                <nb-option *ngFor=" let data of datasPointDeVente" [value]="data">
                                    {{data.nom}}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="date" class="label">Choisir la plage de date</label>
                        <input nbInput fullWidth placeholder="Range Picker" readonly="readonly" [(ngModel)]="dateModel" #controlSearch="ngModel" [nbDatepicker]="rangepicker">
                        <nb-rangepicker fullWidth #rangepicker (dateChange)="changeDebut($event)"></nb-rangepicker>

                    </div>
                </div>

            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-auto mr-auto"></div>
    <div class="col-auto">
        <button type="button" (click)="search()" [disabled]="!dateModel" nbButton style="border-radius: 5px; border-style: none; background-color: #E34234; color:
                                                                      white;">
      Rechercher
    </button>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-3">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Total des transactions</div>
                    <div class="h3">{{ itemStats?.nbreTotalTransaction != null ? itemStats.nbreTotalTransaction : 0}}</div>
                </div>
            </nb-card-body>

        </nb-card>
    </div>
    <div class="col-md-3">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Transactions par prog. à cartes</div>
                    <div class="h3">{{ itemStats?.nbreTransactionParPdfCarte != null ? itemStats.nbreTransactionParPdfCarte : 0}}
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-3">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Transactions par prog. à tampons</div>
                    <div class="h3">{{ itemStats?.nbreTransactionParPdfTampon != null ? itemStats.nbreTransactionParPdfTampon : 0}}
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-3">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Transactions par point de vente</div>
                    <div class="h3">{{ itemStats?.nbreTransactionPointDeVente != null ? itemStats.nbreTransactionPointDeVente : 0}}
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>


<!--Ajout des graphes echarts/Pie-->
<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                <h2>Inscrits par programme à tampons</h2>
            </nb-card-header>

            <nb-card-body>
                <div echarts [options]="optionsInscritsParPdfTampon" class="echart"></div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                <h2>Inscrits par programme à cartes</h2>
            </nb-card-header>
            <nb-card-body>
                <div echarts [options]="optionsInscritsParPdfCarte" class="echart"></div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <h2>Nombre inscrits programme de fidélité</h2>
            </nb-card-header>
            <nb-card-body>
                <chart type="bar" [data]="dataInscritsPdf" [options]="optionsInscritsPdf"></chart>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <h2>Chiffre d'affaire par programme à cartes</h2>
            </nb-card-header>

            <nb-card-body>
                <div echarts [options]="optionsCaParPdfCarte" class="echart"></div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <h2>Chiffre d'affaire programme à points</h2>
            </nb-card-header>
            <nb-card-body>
                <chart type="bar" [data]="dataCaPdfCarte" [options]="optionsCaPdfCarte"></chart>
            </nb-card-body>
        </nb-card>
    </div>
</div>


<!--Ajout des graphes charts/bar-->
<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                <h2>Taux attrition programme de fidélité</h2>
            </nb-card-header>
            <nb-card-body>
                <chart type="bar" [data]="dataTauxAttrition" [options]="optionsTauxAttrition"></chart>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                <h2>Taux rétention programme de fidélité</h2>
            </nb-card-header>
            <nb-card-body>
                <chart type="bar" [data]="dataTauxRetention" [options]="optionsTauxRetention"></chart>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                <h2>NPS programme de fidélité</h2>
            </nb-card-header>
            <nb-card-body>
                <chart type="bar" [data]="dataNPS" [options]="optionsNPS"></chart>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                <h2>Taux de réachat programme de fidélité</h2>
            </nb-card-header>
            <nb-card-body>
                <chart type="bar" [data]="dataTauxReachat" [options]="optionsTauxReachat"></chart>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                <h2>Récompenses engagées</h2>
            </nb-card-header>
            <nb-card-body>
                <chart type="bar" [data]="dataRecompEngager" [options]="optionsRecompEngager"></chart>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                <h2>Récompenses remboursées</h2>
            </nb-card-header>
            <nb-card-body>
                <chart type="bar" [data]="dataRecompRembourser" [options]="optionsRecompRembourser"></chart>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <h2>Récompenses en attente d'être remboursées</h2>
            </nb-card-header>
            <nb-card-body>
                <chart type="bar" [data]="dataRecompEnAttente" [options]="optionsRecompEnAttente"></chart>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<br>
<!-- <div class="row">
<div class="col-md-4">
    <nb-card>
        <nb-card-body>
            <div class="progress-info">
                <div class="subtitle">Nombre d'inscrit au programme</div>
                <div class="h3">200</div>
            </div>
        </nb-card-body>
    </nb-card>
</div>
<div class="col-md-4">
    <nb-card>
        <nb-card-body>
            <div class="progress-info">
                <div class="subtitle">Nombre d'inscrit par point de vente</div>
                <div class="h3">200</div>
            </div>
        </nb-card-body>
    </nb-card>
</div>
<div class="col-md-4">
    <nb-card>
        <nb-card-body>
            <div class="progress-info">
                <div class="subtitle">Nombre de point de vente</div>
                <div class="h3">200</div>
            </div>
        </nb-card-body>
    </nb-card>
</div>
</div>

<div class="row">
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Nombre d'utilisateur</div>
                    <div class="h3">200</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Chiffre d'affaire</div>
                    <div class="h3">200</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Nombre de transaction</div>
                    <div class="h3">200</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Recompense engagées PDF à points</div>
                    <div class="h3">200</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Recompense remboursées PDF à points</div>
                    <div class="h3">200</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Recompense en attentes PDF à points</div>
                    <div class="h3">200</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div> -->