<div class="row">

    <div class="col-md-12">
        <div class="h1">Les statistiques globales</div>
    </div>
</div>
<hr>

<div class="row">

    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <h3>Saisissez vos options de filtre</h3>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="souscription" class="label">Souscription</label>
                            <nb-select name="souscription" [(ngModel)]="souscription" fullWidth placeholder="Souscription">
                                <nb-option *ngFor=" let data of datasSouscription" [value]="data">
                                    {{data?.pallierForfaitLibelle}} {{data?.dureeForfaitLibelle}}</nb-option>
                            </nb-select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="date" class="label">Choisir la plage de date</label>
                        <input nbInput fullWidth placeholder="Range Picker" readonly="readonly" [(ngModel)]="dateModel" #controlSearch="ngModel" [nbDatepicker]="rangepicker">
                        <nb-rangepicker fullWidth #rangepicker (dateChange)="changeDebut($event)"></nb-rangepicker>

                    </div>
                </div>

            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-auto mr-auto"></div>
    <div class="col-auto">
        <button type="button" (click)="search()" [disabled]="!dateModel" nbButton style="border-radius: 5px; border-style: none; background-color: #E34234; color:
                                                                      white;">
      Rechercher
    </button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Nombre total d'enseigne</div>
                    <div class="h3">{{ itemStats?.nbreTotalEnseigne != null ? itemStats.nbreTotalEnseigne : 0}}
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Gain total</div>
                    <div class="h3">{{ itemStats?.gainTotal != null ? itemStats.gainTotal :0}}</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <div class="progress-info">
                    <div class="subtitle">Nombre utilisateur mobile</div>
                    <div class="h3">{{ itemStats?.nbreAllUtilisateur != null ? itemStats.nbreAllUtilisateur : 0}}</div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                <h2>Enseigne</h2>
            </nb-card-header>
            <nb-card-body>
                <chart type="bar" [data]="dataEnseigne" [options]="optionsEnseigne"></chart>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>
                <h2>Contrat arrêté</h2>
            </nb-card-header>
            <nb-card-body>
                <chart type="bar" [data]="dataContratArreter" [options]="optionsContratArreter"></chart>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <h2>Gain</h2>
            </nb-card-header>
            <nb-card-body>
                <chart type="bar" [data]="dataGain" [options]="optionsGain"></chart>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<hr>
<div class="row" *ngIf="itemStats?.itemsEnseigne; else pasDenseigne">
    <div class="col-md-12">


        <nb-card>
            <nb-card-header>
                <h1>Listes des enseignes</h1>
            </nb-card-header>
            <nb-card-body>
                <table class="table table-hover">
                    <!--<table class="table table-striped">-->
                    <thead>
                        <tr>
                            <th scope="col">Nom entrepise</th>
                            <th scope="col">Nom & Prenoms Admin</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Nombre point de vente</th>
                            <th scope="col">Etat</th>
                            <th scope="col" colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let data of itemStats.itemsEnseigne">
                        <tr>
                            <td>{{data.nom}}</td>
                            <td>{{data.nomAdmin}} {{data.prenomsAdmin}} </td>
                            <td>{{data.telephone}}</td>
                            <td>{{data.email}}</td>
                            <td>{{data.nbrePdv}}</td>
                            <td>{{data.etatInscripitionLibelle}}</td>
                            <td>
                                <nb-icon class="m-1" (click)="voir(data)" icon="eye-outline" pack="eva">
                                </nb-icon>
                                <nb-icon class="m-1" (click)="bloquer(data)" icon="lock-outline" pack="eva">
                                </nb-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </div>


</div>


<ng-template #pasDenseigne>
    <div class="row">
        <div class="col-md-12">
            <h1>Aucune enseigne pour le moment !!!</h1>
        </div>
    </div>

</ng-template>

<br>
<!--
<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <h2>Chiffre d'affaire par programme à cartes</h2>
            </nb-card-header>

            <nb-card-body>
                <div echarts [options]="optionsCaParPdfCarte" class="echart"></div>
            </nb-card-body>
        </nb-card>
    </div>
</div> -->
