<nb-card *ngIf="isAcceuil; else elseBlock">
    <nb-card-header>
        <h1>Listes des souscriptions</h1>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <!--<table class="table table-striped">-->
                    <thead>
                        <tr>
                            <th scope="col">Nom entrepise</th>
                            <th scope="col">Nom & Prenoms Admin</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Souscription</th>
                            <th scope="col">Nbre souscription</th>
                            <th scope="col">Nbre utilisateur</th>
                            <!-- <th scope="col" colspan="2">Actions</th> -->
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="itemsHistoriqueSouscriptionEnseigne && itemsHistoriqueSouscriptionEnseigne.length > 0">
                        <ng-container *ngFor="let data of itemsHistoriqueSouscriptionEnseigne">
                            <tr>
                                <td>{{data.enseigneNom}}</td>
                                <td>{{data.enseigneNomAdmin}} {{data.enseignePrenomsAdmin}} </td>
                                <td>{{data.enseigneTelephone}}</td>
                                <td>{{data.enseigneEmail}}</td>
                                <td>{{data.souscriptionDescription}}</td>
                                <td>{{data.nbreSouscription}}</td>
                                <td>{{data.nbreUtilisateurMobile}}</td>

                                <ng-container *ngIf="data.etatSouscriptionCode && data.etatSouscriptionCode != 'ENTRANT'; else elseBlockAction">
                                    <td>{{data.etatSouscriptionCode}}
                                    </td>
                                </ng-container>

                                <ng-template #elseBlockAction>
                                    <td>
                                        <nb-icon class="m-1" (click)="editerSouscription(data)" icon="edit-2-outline" pack="eva"></nb-icon>
                                        <nb-icon class="m-1" (click)="validerSouscription(data)" icon="checkmark-square-outline" pack="eva">
                                        </nb-icon>
                                        <nb-icon class="m-1" (click)="refuserSouscription(data)" icon="close-square-outline" pack="eva">
                                        </nb-icon>
                                    </td>
                                </ng-template>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<ng-template #elseBlock>
    <nb-card>
        <nb-card-header>
            <h1>Editer souscription</h1>
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-md-12">
                    <form (ngSubmit)="submit(monModelForm)" #monModelForm="ngForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="listeDesOffres" class="label">Liste des offres <span style="color: red;">*</span></label>
                                    <nb-select *ngIf="datasSouscription && currentOffreId" name="offre" fullWidth placeholder="Fonction" [selected]="currentOffreId" (selectedChange)="changeOffre($event)">
                                        <!-- <nb-option *ngFor="let data of datasSouscription; let index = index" [value]="index"> -->
                                        <nb-option *ngFor="let data of datasSouscription" [value]="data.id">
                                            {{"Offre "+ data.prix +"/mois"}}</nb-option>
                                    </nb-select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description" class="label">Prix spécifique</label>
                                    <input type="number" name="prixSpecifique" nbInput fullWidth id="prixSpecifique" placeholder="Prix spécifique" [(ngModel)]="model.prixSpecifique">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="description" class="label">Informations de l'offre</label>
                                    <ul *ngIf="currentOffre">
                                        <li>{{ currentOffre.pallierForfaitLibelle}}</li>
                                        <li>{{ currentOffre.description}}</li>
                                        <!-- <li>{{ currentOffre}}</li> -->
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div>

                            <button type="submit" [disabled]="!monModelForm.valid || isSubmitted" nbButton status="danger" style="border-radius: 20px; border-style: none; display: block; margin-left: auto;margin-right: auto; background-color: #E34234;
                                                      color: white;" [nbSpinner]="loadingSpinner" nbSpinnerMessage="">
                Modifier
              </button>
                        </div>

                    </form>

                </div>
            </div>
        </nb-card-body>
    </nb-card>
</ng-template>