<nb-card>
    <nb-card-header>
        <h1>Listes des entreprises</h1>
    </nb-card-header>
    <nb-card-body>


        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <!--<table class="table table-striped">-->

                    <thead>
                        <tr>
                            <th scope="col">Nom entrepise</th>
                            <th scope="col">Nom & Prenoms Admin</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Fonction gérant</th>
                            <th scope="col">Etat</th>
                            <!-- <th scope="col" colspan="2">Actions</th> -->
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="itemsEnseigne && itemsEnseigne.length > 0">
                        <ng-container *ngFor="let data of itemsEnseigne">
                            <tr *ngIf="data; else elseBlock">
                                <td>{{data.nom}}</td>
                                <td>{{data.nomAdmin}} {{data.prenomsAdmin}} </td>
                                <td>{{data.telephone}}</td>
                                <td>{{data.email}}</td>
                                <td>{{data.roleLibelle}}</td>
                                <td>{{data.etatInscripitionLibelle}}</td>
                                <td *ngIf="data.etatInscripitionLibelle == 'REFUSER' || data.etatInscripitionLibelle == 'ACCEPTER'; else elseBlockAction">
                                    Résolu
                                </td>
                                <ng-template #elseBlockAction>
                                    <td>
                                        <nb-icon class="m-1" (click)="validerInscription(data)" icon="checkmark-square-outline" pack="eva">
                                        </nb-icon>
                                        <nb-icon class="m-1" (click)="refuserInscription(data)" icon="close-square-outline" pack="eva">
                                        </nb-icon>
                                    </td>
                                </ng-template>
                            </tr>
                            <ng-template #elseBlock>
                                <tr>
                                    <td>{{data.nom}}</td>
                                    <td>{{data.nomAdmin}} {{data.prenomsAdmin}} </td>
                                    <td>{{data.telephone}}</td>
                                    <td>{{data.email}}</td>
                                    <td>{{data.roleGerantLibelle}}</td>
                                    <td>{{data.etatInscripitionLibelle}}</td>
                                    <td>
                                        <nb-icon class="m-1" (click)="voirAppelDoffres(data)" icon="checkmark-square-outline" pack="eva">
                                        </nb-icon>
                                        <nb-icon class="m-1" (click)="appelDoffresNonVu(data)" icon="close-square-outline" pack="eva">
                                        </nb-icon>
                                    </td>
                                </tr>
                            </ng-template>


                        </ng-container>


                    </tbody>
                </table>

            </div>
        </div>
    </nb-card-body>
</nb-card>